body{margin:0;font-family:Arial;}
.header{background:#bde7ea;text-align:center;padding:10px;}
.logo{height:60px;float:left;margin-left:20px;}
.menu{background:#f2f2f2;height:100%;padding:10px;}
.menu a{display:block;background:#c0392b;color:#fff;text-decoration:none;margin:8px 0;padding:8px;text-align:center;}
.content{padding:20px;}
.footer{background:#bde7ea;text-align:center;padding:15px;}
button{background:green;color:white;border:none;padding:8px 20px;}